<html>
    <head>
        <title>Cluster Visualization</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <h1 class="desktop"><a href="#">transparent</a><b href="#">.ai</b></h1>
            <a id="menu-button" class="mobile" href="#">
               <i class="menu-toggle fas fa-bars"></i>
            </a>
            <h1 class="mobile">CS330: Winter 2021</h1>
         </header>

         <nav>
            <ul>
               <li ><a href="/">Home</a></li>
               <li class="active"><a href="/add-cluster/">New Cluster</a></li>
               <li><a href="#">Browse Clusters</a></li>
               <li><a href="#">Login</a></li>
            </ul>
         </nav>

        <div class="cardoptions">
        <div class="card">
        <subheader>
            <h1 class="desktop">cluster<b>.params </b></h1>
         </subheader>
            <div class="bg-img" style="background-image:url('https://i.ndtvimg.com/i/2015-09/grapes_625x350_61443376353.jpg');"></div>
            <h4 class="card-title">Cluster the data!</h4>
        <form action="{{ url_for('make_cluster')}}" id="post-form" method="post">
                <div class="input-section">
                    <label for="num">Number of clusters? </br></label>
                    <input type="number" name="nofc" id="numofc">
                </div>
                <button class="btn btn-main" id="save" type="submit">Save</button>
                <a class="btn" href="/">Cancel</a>
        </form>

        <div class="hcenter">
        <a href="#" class="btn3">Fake-Cluster IT!</a>
        </div>
        </div>
        </div>

    </body>
</html>